{
  "openapi": "3.0.0",
  "info": {
    "version": "1.0.0",
    "title": "SprintPay Collection"
  },
  "servers": [
    {
      "url": "https://web.sprintpay.online"
    }
  ],
  "tags": [],
  "paths": {
    "/new-endpoint": {
      "get": {
        "description": "",
        "operationId": "get_new-endpoint",
        "responses": {
          "200": {
            "description": ""
          }
        },
        "parameters": []
      }
    },
    "/pay?amount={amount}&key={apikey}&ref={refrence}&email={email}": {
      "get": {
        "description": "",
        "operationId": "get_new-endpoint-1",
        "responses": {
          "200": {
            "description": ""
          }
        },
        "parameters": [
          {
            "in": "path",
            "name": "amount",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "in": "path",
            "name": "apikey",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "in": "path",
            "name": "refrence",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "in": "path",
            "name": "email",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {}
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}